<%= form_with model: @invoice do |f| %>
  <div>
    <%= f.label :issued_on %>
    <%= f.date_field :issued_on %>
  </div>
  <div>
    <%= f.label :due_on %>
    <%= f.date_field :due_on %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, Invoice::STATUSES.map { |s| [s.capitalize, s] } %>
  </div>
  <div>
    <%= f.label :currency %>
    <%= f.select :currency, Invoice::CURRENCIES %>
  </div>
  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 1 %>
  </div>
  <div>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>
  <div>
    <%= f.label :client_name %>
    <%= f.text_field :client_name %>
  </div>
  <div>
    <%= f.label :client_address %>
    <%= f.text_field :client_address %>
  </div>
  <div>
    <%= f.label :note %>
    <%= f.text_area :note, rows: 4 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>