<div>
  <%= link_to "← Back to Invoices", invoices_path %>
</div>

<div>
  <h1>Invoice</h1>
  <%= link_to "Edit", edit_invoice_path(@invoice) %>

  <dl>
    <dt>Issued</dt>
    <dd><%= @invoice.issued_on %></dd>

    <dt>Due</dt>
    <dd><%= @invoice.due_on %></dd>

    <dt>Client</dt>
    <dd><%= @invoice.client_name %></dd>

    <dt>Amount</dt>
    <dd><%= "#{@invoice.currency} #{'%.2f' % @invoice.amount}" %></dd>

    <dt>Status</dt>
    <dd><%= @invoice.status %></dd>
  </dl>

  <% if @invoice.note.present? %>
    <div>
      <h2>Note</h2>
      <p><%= @invoice.note %></p>
    </div>
  <% end %>
</div>