<div class="mx-auto max-w-md px-4 pb-12">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h1 class="text-3xl font-bold text-center">Nové heslo</h1>

      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <ul class="list-disc pl-5">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with url: password_path(params[:token]), method: :patch, class: "space-y-4" do |f| %>
        <div>
          <%= f.label :password, "Nové heslo", class: "label font-semibold" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Potvrdenie hesla", class: "label font-semibold" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
        </div>

        <%= f.submit "Zmeniť heslo", class: "btn btn-primary w-full" %>
      <% end %>
    </div>
  </div>
</div>
